<!-- src/app/todo-item/todo-item.component.html -->

 <div>
  <!-- <input type="checkbox" [checked]="todo.completed" (change)="onToggleCompletion()" /> -->
  <span [class.completed]="todo.completed">{{ todo.title }}</span>

  <span class="priority" [ngClass]="todo.priority">({{ todo.priority}})</span>

  <button (click)="onRemove()">Remove</button>

  <button (click)="onToggleCompletion(toggleBtn)" [ngClass]="{'btn-success': !todo.completed, 'btn-warning': todo.completed}" #toggleBtn>
    {{ todo.completed ? 'Invalider' : 'Valider' }}
  </button>
  <!-- #toggleBtn: pour obtenir une référence à l'élément du bouton. -->


</div> 



